.link {
  margin: 15px;
}

.link a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

.link a:hover,
.link a:focus,
.link a:active {
  text-decoration: underline;
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.container h3 {
  margin-left: 35%;
}

.login_links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}